.search-conatiner {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  justify-self: center;
  position: absolute;
}

.container-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  background-color: transparent;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 5px;
  max-height: 50px;
  overflow: hidden;
}

.container-options-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-color: rgb(92, 90, 90);
  margin-left: 50px;
  padding-right: 50px;
  padding: 5px;
}
.btn-search {
  color: white;
  border: 1px white solid;
  background-color: transparent;
  padding: 10px;

  margin-left: 20px;
}
.dropdown {
  height: 100px;
  overflow-y: scroll;
}

.input-search {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  background: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  align-self: center;
}
.input {
  padding-left: 35px;
  position: absolute;

  display: flex;
  flex-direction: row;
  background-color: transparent;
  background: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  width: 60%;
  height: 40px;
}
.icon {
  color: white;
  width: 20px;
  height: 20px;
  align-self: center;
  margin-left: 10px;
}
